In [1]:
from isolation import Isolation

In [1]:
# dir(Isolation())

In [3]:
state = Isolation()

In [4]:
action = state.actions()
action

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114]

In [5]:
board = state.board
board

41523161203939122082683632224299007

In [16]:
state.count(3)

0

In [18]:
state.index()

TypeError: index() takes at least 1 argument (0 given)

In [26]:
state.liberties(7)

[32, 18, 22, 34]

In [27]:
state.locs

(None, None)

In [29]:
state.player()

0

In [32]:
state.ply_count

0

In [34]:
state.result()

TypeError: result() missing 1 required positional argument: 'action'

In [36]:
state.terminal_test()

False

In [41]:
import numpy as np
np.maximum,3,4,5])

SyntaxError: invalid syntax (<ipython-input-41-1db7de65d881>, line 2)

In [48]:
score = np.array([8,1,2,1])
policy = score / np.sum(score)
result = []
for i in range(20):
    result.append(np.random.choice(np.arange(0,4,1),p=policy))
result

[1, 2, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 2, 0, 0, 1, 3, 0, 0]

In [49]:
np.save('test_save.npy',[1,2,3])

In [50]:
np.load('test_save.npy')

array([1, 2, 3])

In [55]:
import pandas as pd

In [58]:
import json
to_save = json.dump({'a':1,'b':2})

TypeError: dump() missing 1 required positional argument: 'fp'

In [59]:
with open('test_json','w') as f:
    json.dump({'a':1,'b':2},f)

In [64]:
with open('test_json', 'r') as f:
    loaded = json.load(f)
loaded

{'a': 1, 'b': 2}

In [65]:
def save_file(file, path):
    with open(path, 'w') as f:
        json.dump(file,f)
        
def load_file(path):
    with open(path, 'r') as f:
        return json.load(f)

In [66]:
load_file('test_json')

{'a': 1, 'b': 2}

In [25]:
import json
import pandas as pd
import numpy as np

In [26]:
with open('./q.json','r') as f:
    q=json.load(f)

In [27]:
pd.DataFrame(q.keys())

                                         0
0      41523161203937941491062914812995583
1      41523121589856684349886918786279423
2      41523121589856389201977341386942463
3      41523111686336074918935140046465023
4      41523111681500371640476623346591743
...                                    ...
13710  40224730393348670229671951478286327
13711  40224730083861299225085447930898423
13712  37628581577222630649640854651922423
13713  37628502349060116385303261105874935
13714  37628502349059526089211427423512567

[13715 rows x 1 columns]

In [42]:
with open('./q.json','r') as f:
    q=json.load(f)
input_array = np.array([[j for j in i.values()] for i in q.values()]).flatten()
out = np.concatenate(input_array).ravel()
pd.DataFrame(out).describe()